.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  display: block;
  text-decoration: none;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.posts_grid {
  display: flex;
  flex-wrap: wrap;
}

.post-thumbnail {
  border: 1px solid #222;
  flex: 1;
}

.post-thumbnail:hover {
  background: #009befa2
}

.post-thumbnail img,
.post-thumbnail a {
  display: block;
}
